[user]
  name = abouthiroppy
  email = yuta_hiroto@dwango.co.jp
[help]
  autocorrect = 1
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[core]
  editor = vim
  autocrlf = input
[merge]
  ff = true
[http]
  sslVerify = false
[alias]
  st = status
  co = checkout
  so = remote show origin
  ft = fetch
  wc = whatchanged
  ci = commit
  br = branch
  cp = cherry-pick
  rb = rebase
  # alias = !"f(){ git config --get-regexp alias|cut -d'.' -f2|if [ -z $1 ];then cut -d' ' -f1|column; else grep $1' '; fi }; f"

[push]
  default = tracking 
