[user]
  name = Yuta Hiroto
  email = git@hiroppy.me
  signingkey = 0E56F03B
[help]
  autocorrect = 1
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  whitespace = fix
  ignorecase = false
[hub]
  host = github.com
  editor = nvim
  autocrlf = input
  excludesfile = ~/.gitignore_global
[merge]
  ff = true
[http]
  sslVerify = false
[alias]
  st = status
  co = checkout
  so = remote show origin
  ft = fetch
  wc = whatchanged
  ci = commit
  br = branch
  cp = cherry-pick
  rb = rebase
  site = browse
  current = rev-parse --abbrev-ref HEAD
  po = "!f() {\
        b=`git rev-parse --abbrev-ref HEAD`;\
        git push origin ${b};\
        }; f"
  pof = "!f() {\
        b=`git rev-parse --abbrev-ref HEAD`;\
        git push origin ${b} --force-with-lease;\
        }; f"
  pllo = "!f() {\
        b=`git rev-parse --abbrev-ref HEAD`;\
        git pull origin ${b};\
        }; f"
[push]
  default = current
[commit]
  template = ~/.gitmessage.txt
  gpgsign = true
[color]
  ui = true
[gpg]
  program = gpg
[pull]
  rebase = merges
