[user]
  name = Yuta Hiroto
  email = git@about-hiroppy.com
	signingkey = 0CE0B9CF96DD3F6E
[help]
  autocorrect = 1
[url "git@github.com:"]
  pushinsteadof = https://github.com/
[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  whitespace = fix
  ignorecase = false
[hub]
  host = github.com
  editor = vim
  autocrlf = input
  excludesfile = ~/.gitignore
[merge]
  ff = true
[http]
  sslVerify = false
[alias]
  st = status
  co = checkout
  so = remote show origin
  ft = fetch
  wc = whatchanged
  ci = commit
  br = branch
  cp = cherry-pick
  rb = rebase
  pr = pull --rebase
  site = browse
  # alias = !"f(){ git config --get-regexp alias|cut -d'.' -f2|if [ -z $1 ];then cut -d' ' -f1|column; else grep $1' '; fi }; f"
  current = rev-parse --abbrev-ref HEAD
[push]
  default = tracking 
[commit]
  template = ~/.gitmessage.txt
	gpgsign = false
[color]
  ui = true
[gpg]
	program = gpg
[pull]
	rebase = preserve
