.DS_Store
Brewfile.lock.json

config/nvim/bundle
config/nvim/undo

config/fish/completions
config/fish/conf.d
config/fish/functions/*
!config/fish/functions/fish_prompt.fish
!config/fish/functions/init.fish
!config/fish/functions/load_nvm.fish
!config/fish/functions/nvm.fish
!config/fish/functions/nvm_find_nvmrc.fish
